<div class="container d-flex flex-column align-items-center">
    <div style="margin: 10px;width: 80%;">
        <div align-items-center">
        <h5 style="text-align: center;font-size: 22px;"><%= page.title %></h5>
        <h6 style="text-align: center;"><%- date(page.date, "YYYY-MM-DD") %></h6>
        <div><%- page.content %></div>
        </div>
    </div>
    
</div>
<div class="container" style="padding: 10px;">
    <div class="d-flex align-items-center">
        <%- partial('_partial/comment') %>
    </div>
</div>

