<nav class="navbar navbar-light bg-light align-items-end">
    <div class="container-fluid justify-content-center">
      <span class="navbar-text">
        Copyright <%= theme.Footer.Year %> <%= config.author %>. | Powered by <a href="hexo.io">Hexo</a> | Theme <a href="https://github.com/sakuraikaede/hexo-theme-original">Original</a>
      </span>
    </div>
  </nav>