<nav class="navbar navbar-light bg-light align-items-end">
    <div class="container-fluid justify-content-center">
      <span class="navbar-text">
        Copyright <%= theme.Footer.Year %> <%= config.author %>.
      </span>
    </div>
  </nav>